In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd

In [2]:
#here weare reading the dataset from the inbuild function of pandas
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
# readed dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
# herewe are changing the catagrical input to numerical input 
# new function
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
# this is a new function for reading the input and output names
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
#then here we are separating the input and output with the variables
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[["charges"]]
independent
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
#sklearn is also one of the library ,we are going to use the libray in every machine learnin project ,its like a default 
#library for ML
#here we are separating the input and output dataset for training and testing prpose ,we are taking 70% for training and 30% for testing testing
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)
X_train,X_test,Y_train,Y_test

(      age     bmi  children  sex_male  smoker_yes
 1163   18  28.215         0         0           0
 196    39  32.800         0         0           0
 438    52  46.750         5         0           0
 183    44  26.410         0         0           0
 1298   33  27.455         2         1           0
 ...   ...     ...       ...       ...         ...
 763    27  26.030         0         1           0
 835    42  35.970         2         1           0
 1216   40  25.080         0         1           0
 559    19  35.530         0         1           0
 684    33  18.500         1         0           0

 [936 rows x 5 columns],
       age     bmi  children  sex_male  smoker_yes
 578    52  30.200         1         1           0
 610    47  29.370         1         0           0
 569    48  40.565         2         1           1
 1034   61  38.380         0         1           0
 198    51  18.050         0         0           0
 ...   ...     ...       ...       ...         ...
 1261   28  37.100         1         1           0
 494    21  25.700         4         1           1
 97     55  38.280         0         1           0
 418    64  39.160         1         1           0
 920    62  25.000         0         0           0

 [402 rows x 5 columns],
           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [9]:
#the main think is here , we are creating a model here WITH applying parameters with GRIDSEARCHCV
#by using the sklear library of function . LinearRegression algorithm . y=wX+b<>module created  with input and output training dataset
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
param_grid={'fit_intercept':[True,False],'n_jobs':[10,20,30,100],'positive':[True,False]}
grid=GridSearchCV(LinearRegression(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,Y_train)
grid

Fitting 5 folds for each of 16 candidates, totalling 80 fits

GridSearchCV(estimator=LinearRegression(), n_jobs=-1,
             param_grid={'fit_intercept': [True, False],
                         'n_jobs': [10, 20, 30, 100],
                         'positive': [True, False]},
             verbose=3)

In [13]:
#seeing best combination parameters
re=grid.cv_results_
print("besrt parameters{}:".format(grid.best_params_))

besrt parameters{'fit_intercept': True, 'n_jobs': 10, 'positive': True}:

In [16]:
#viewing the all combinations parameters modules in table
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.052569,0.009865,0.008396,0.001496,True,10,True,"{'fit_intercept': True, 'n_jobs': 10, 'positiv...",0.763511,0.703146,0.730655,0.695634,0.719080,0.722405,0.023902,1
1,0.036379,0.029102,0.007996,0.000632,True,10,False,"{'fit_intercept': True, 'n_jobs': 10, 'positiv...",0.763511,0.702938,0.730655,0.695551,0.719087,0.722348,0.023954,5
2,0.057365,0.013973,0.007196,0.000401,True,20,True,"{'fit_intercept': True, 'n_jobs': 20, 'positiv...",0.763511,0.703146,0.730655,0.695634,0.719080,0.722405,0.023902,1
3,0.014992,0.010500,0.007395,0.001855,True,20,False,"{'fit_intercept': True, 'n_jobs': 20, 'positiv...",0.763511,0.702938,0.730655,0.695551,0.719087,0.722348,0.023954,5
4,0.064362,0.016767,0.009795,0.002227,True,30,True,"{'fit_intercept': True, 'n_jobs': 30, 'positiv...",0.763511,0.703146,0.730655,0.695634,0.719080,0.722405,0.023902,1
5,0.009989,0.000631,0.009195,0.002315,True,30,False,"{'fit_intercept': True, 'n_jobs': 30, 'positiv...",0.763511,0.702938,0.730655,0.695551,0.719087,0.722348,0.023954,5
6,0.136321,0.050237,0.008395,0.002798,True,100,True,"{'fit_intercept': True, 'n_jobs': 100, 'positi...",0.763511,0.703146,0.730655,0.695634,0.719080,0.722405,0.023902,1
7,0.009197,0.000407,0.007193,0.000744,True,100,False,"{'fit_intercept': True, 'n_jobs': 100, 'positi...",0.763511,0.702938,0.730655,0.695551,0.719087,0.722348,0.023954,5
8,0.034780,0.006878,0.007795,0.001165,False,10,True,"{'fit_intercept': False, 'n_jobs': 10, 'positi...",0.743115,0.657160,0.699508,0.657341,0.684679,0.688361,0.031848,13
9,0.011991,0.003033,0.008396,0.003006,False,10,False,"{'fit_intercept': False, 'n_jobs': 10, 'positi...",0.744435,0.657009,0.700806,0.657076,0.686170,0.689099,0.032444,9
10,0.043574,0.007549,0.008596,0.001959,False,20,True,"{'fit_intercept': False, 'n_jobs': 20, 'positi...",0.743115,0.657160,0.699508,0.657341,0.684679,0.688361,0.031848,13
11,0.011393,0.001853,0.008995,0.002606,False,20,False,"{'fit_intercept': False, 'n_jobs': 20, 'positi...",0.744435,0.657009,0.700806,0.657076,0.686170,0.689099,0.032444,9
12,0.061964,0.011859,0.007596,0.001742,False,30,True,"{'fit_intercept': False, 'n_jobs': 30, 'positi...",0.743115,0.657160,0.699508,0.657341,0.684679,0.688361,0.031848,13
13,0.011393,0.001200,0.009195,0.002039,False,30,False,"{'fit_intercept': False, 'n_jobs': 30, 'positi...",0.744435,0.657009,0.700806,0.657076,0.686170,0.689099,0.032444,9
14,0.117931,0.006063,0.008396,0.001356,False,100,True,"{'fit_intercept': False, 'n_jobs': 100, 'posit...",0.743115,0.657160,0.699508,0.657341,0.684679,0.688361,0.031848,13
15,0.013191,0.002784,0.007796,0.000748,False,100,False,"{'fit_intercept': False, 'n_jobs': 100, 'posit...",0.744435,0.657009,0.700806,0.657076,0.686170,0.689099,0.032444,9

In [14]:
#here we are predicting the value of teste input with the created module
grid_prediction=grid.predict(X_test)

In [15]:
#here we are checking errors inbtween teste input value predicted by our modul and test output
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_prediction)
r_score

0.7894429387120753