In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd

In [2]:
#here weare reading the dataset from the inbuild function of pandas
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
# readed dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
# herewe are changing the catagrical input to numerical input 
# new function
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
# this is a new function for reading the input and output names
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
#then here we are separating the input and output with the variables
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[["charges"]]
independent
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
#sklearn is also one of the library ,we are going to use the libray in every machine learnin project ,its like a default 
#library for ML
#here we are separating the input and output dataset for training and testing prpose ,we are taking 70% for training and 30% for testing testin
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [8]:
#creating module for support vector regression applying parameters with gridsearchcv
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf'],'gamma':['scale', 'auto'],'C':[10, 50]}

grid = GridSearchCV(SVR(), param_grid, refit=True, verbose=3, n_jobs=-1)

grid.fit(X_train, Y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [10, 50], 'gamma': ['scale', 'auto'],
                         'kernel': ['rbf']},
             verbose=3)

In [9]:
#seeing best combination parameters

print("best parameters{}:".format(grid.best_params_))

best parameters{'C': 50, 'gamma': 'auto', 'kernel': 'rbf'}:

In [10]:
#viewing the all combinations parameters modules in table
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.092346,0.002416,0.051372,0.001853,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",-0.045477,-0.013336,-0.151791,-0.151967,-0.139448,-0.100404,0.059028,2
1,0.106937,0.002826,0.052770,0.001166,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",-0.041899,-0.035931,-0.147151,-0.139987,-0.142206,-0.101435,0.051135,3
2,0.085750,0.001326,0.051970,0.001264,50,scale,rbf,"{'C': 50, 'gamma': 'scale', 'kernel': 'rbf'}",-0.119173,0.012149,-0.214514,-0.221544,-0.164301,-0.141477,0.085281,4
3,0.104140,0.003057,0.046773,0.009448,50,auto,rbf,"{'C': 50, 'gamma': 'auto', 'kernel': 'rbf'}",-0.041394,-0.030088,-0.142314,-0.140476,-0.138647,-0.098584,0.051448,1

In [11]:
#here we are predicting the value of teste input with the created module
future_prediction=grid.predict(X_test)

In [12]:
#here we are checking errors inbtween teste input value predicted by our modul and test output
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,future_prediction)
r_score

-0.08107615537640744