In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd

In [2]:
#here weare reading the dataset from the inbuild function of pandas
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
# readed dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
# herewe are changing the catagrical input to numerical input 
# new function
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
# this is a new function for reading the input and output names
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
#then here we are separating the input and output with the variables
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[["charges"]]
independent
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
#the main think is here , we are creating a model here WITH applying parameters with GRIDSEARCHCV
#by using the sklear library of function . LinearRegression algorithm . y=wX+b<>module created  with input and output training dataset
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
param_grid={'fit_intercept':[True,False],'n_jobs':[10,20,30,100],'positive':[True,False]}
grid=GridSearchCV(LinearRegression(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)
grid

Fitting 5 folds for each of 16 candidates, totalling 80 fits

GridSearchCV(estimator=LinearRegression(), n_jobs=-1,
             param_grid={'fit_intercept': [True, False],
                         'n_jobs': [10, 20, 30, 100],
                         'positive': [True, False]},
             verbose=3)

In [9]:
#seeing best combination parameters
re=grid.cv_results_
print("besrt parameters{}:".format(grid.best_params_))

besrt parameters{'fit_intercept': True, 'n_jobs': 10, 'positive': True}:

In [10]:
#viewing the all combinations parameters modules in table
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.027785,0.007854,0.006795,9.788212e-04,True,10,True,"{'fit_intercept': True, 'n_jobs': 10, 'positiv...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
1,0.467199,0.229029,0.006399,7.980347e-04,True,10,False,"{'fit_intercept': True, 'n_jobs': 10, 'positiv...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
2,0.030182,0.008372,0.006597,1.198578e-03,True,20,True,"{'fit_intercept': True, 'n_jobs': 20, 'positiv...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
3,0.008995,0.000894,0.008395,4.796338e-03,True,20,False,"{'fit_intercept': True, 'n_jobs': 20, 'positiv...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
4,0.033780,0.008466,0.006397,8.002044e-04,True,30,True,"{'fit_intercept': True, 'n_jobs': 30, 'positiv...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
5,0.007995,0.000001,0.006196,3.996156e-04,True,30,False,"{'fit_intercept': True, 'n_jobs': 30, 'positiv...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
6,0.079355,0.016815,0.006196,7.476275e-04,True,100,True,"{'fit_intercept': True, 'n_jobs': 100, 'positi...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
7,0.009394,0.000800,0.005797,4.009729e-04,True,100,False,"{'fit_intercept': True, 'n_jobs': 100, 'positi...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
8,0.017190,0.001165,0.005997,2.431402e-07,False,10,True,"{'fit_intercept': False, 'n_jobs': 10, 'positi...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
9,0.009794,0.001938,0.008795,3.185324e-03,False,10,False,"{'fit_intercept': False, 'n_jobs': 10, 'positi...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
10,0.023386,0.001355,0.006997,1.787845e-03,False,20,True,"{'fit_intercept': False, 'n_jobs': 20, 'positi...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
11,0.008195,0.000748,0.006596,1.742886e-03,False,20,False,"{'fit_intercept': False, 'n_jobs': 20, 'positi...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
12,0.030782,0.007725,0.006597,7.995608e-04,False,30,True,"{'fit_intercept': False, 'n_jobs': 30, 'positi...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
13,0.008195,0.000979,0.006396,1.019038e-03,False,30,False,"{'fit_intercept': False, 'n_jobs': 30, 'positi...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
14,0.067960,0.008872,0.005998,6.318821e-04,False,100,True,"{'fit_intercept': False, 'n_jobs': 100, 'posit...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
15,0.009794,0.000748,0.006996,1.672230e-03,False,100,False,"{'fit_intercept': False, 'n_jobs': 100, 'posit...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9

In [12]:
future_prediction=grid.predict([[26,33.70,3,1,0]])
print("future prediction{}:".format(future_prediction))

future prediction[[6868.21703639]]:

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(